apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-kxywzaex
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-kxywzaex:f59c41bfd96a4bcc417948c316d37033d0db7c4e@sha256:9c0cdce5aec5bcdf6cd81bdea727046c015054f4397019e635b91ff0892ea893
          name: container-image
